{{define "tplBase"}}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="icon" href="data:;base64,=">
	<title>Backend</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
</head>
<link rel="stylesheet" href="/static/basic.css" media="screen" type="text/css" />
<body>
	<style>   
		{{ .CSS | fCSS }}
	</style>

	<style>


		.blc {
			display:inline-block;
			vertical-align:top;
		}


		.bl1-no-block-spaces {
			font-size:0px;
		}


		.bl1 {
			font-size: 12px;		
			vertical-align:top; 
			aaborder: 1px solid #99c;
			margin: 0px;
			margin-top: 2px
			margin-bottom:8px;
			background-color: #eef;
			aamargin-left: 4px;

		}


		.bl2 {
			font-size:14px;

			margin-top:    1px;
			margin-bottom: 4px;

			margin-left : 2px;
			margin-right: 5px;
			padding-left: 8px;
			aabackground-color: #eef;
		}

	</style>


Viewport Rows-Cols: {{.Rows}} {{.Cols}} <br>
{{ len .Corridors}} Corridors<br>

{{ $Corridors  := .Corridors }} 
{{ $mapOrArray := .Corridors }} 


{{range $idxCorridor, $lpCorridor := .Corridors }}

	{{$colCorridor := fColorizer 0 $idxCorridor }}

	<span class='bl1-no-block-spaces' >
	<div
		name='corridor' 
		class='blc bl1 w{{$lpCorridor.Cols}}' 
		style='
			aafloat:left;
			position:relative;
			padding-bottom:10px;
			background-color:#{{$colCorridor}}; 
		' 

	>

		<div  name='debug_label_corridor' 
				style='
				display:inline-block;
				background-color:#{{$colCorridor}};
				position:absolute;
				right:-8px;
				top: -8px;
				z-index: 100;
				border: 1px solid #000;
				font-size:11px;
				font-weight:normal;
				padding: 1px 4px;
				'
		>
			Cor#{{fAdd $idxCorridor 1}}
			{{if  .Direction }}
				Horiz - {{.Cols}} Cols - {{ len .Blocks}} Blocks
			{{else}}
				Vertic - {{.Rows}} Rows  - {{ len .Blocks}} Blocks
			{{end}}

		</div> 

		
		<!-- a corridor-->
		{{range $idxBlock, $lpBlock := .Blocks }}

			{{$colBlock := fColorizer 1 $idxBlock }}

			
			<!-- a block-->
			{{if  .Headline }}
				<!-- block has heading -->
				<span class='blc bl2' style='
						font-weight:bold;
						font-size:16px;
						width:95%;
						margin-top:4px;
						margin-bottom:0px;
						padding-left: 0px;
					' 
				>
					{{ .Headline  }}   
					
				</span> 
			{{end}}



			<!-- Now comes the horror.
				We have to distribute the elements into the block-cols.
				Thus we iterate over the block-cols.
				Secondly, we iterate over the block rows.
				We compute the Element index 
				   Rows * ColNumber + RowNumber 
				Then we access the Element by that idxElements.

				All this logic needs to be moved to server.
				There should be a balanced distribution of elements over columns.
			-->


			<!-- a block COLUMN -->
			{{$sNumCols := fMakeRange  .Cols  }}
			{{range  $idxCol, $idxCol2 :=  $sNumCols }}


				<div class='wn' 
					name='force-columnar-align'
					style='
						display:inline-block;
						position:relative;
						vertical-align:top;
						aabackground-color:#aaa;
						background-color:#{{$colBlock}}; 
					' 
				>

					<div  name='debug_label_block_column' 
							style='
							display:inline-block;
							background-color:#fff;
							position:absolute;
							right:2px;
							top:8px;
							border: 1px solid #000;
							font-size:11px;
							font-weight:normal;
							padding: 1px 4px;
							'
					>
						{{$nElements := len $lpBlock.Els}}
						{{if not $idxCol}}  <!-- show block info only with the first block column -->
							B#{{fAdd $idxBlock 1}}  - 
							  {{$lpBlock.Rows}}R{{$lpBlock.Cols}}C{{$nElements}}Els
							  Col#{{fAdd $idxCol 1}} 
						{{else}}
							Col#{{fAdd $idxCol 1}}
						{{end}}
					</div> 
					


					{{ $sRows := fMakeRange  $lpBlock.Rows  }} 
					{{range  $idxRow, $idxRow2 :=  $sRows }}
						{{ $idxElem :=  fMult $idxCol $lpBlock.Rows | fAdd $idxRow }}
						{{ $inRange :=  lt  $idxElem $nElements }}
						{{if $inRange}}
							{{$Elem :=  index $lpBlock.Els $idxElem}} 
							{{if  $Elem.Headline }}
								<b>{{$Elem.Headline}}</b><br>
							{{end}}
							{{$Elem.Body}}<br>
						{{end}}
						<br>
					{{end}}

	

					<!--
					{{range $idxElement, $lpElement := $lpBlock.Els }}
						{{if  .Headline }}
							<b>{{.Headline}}</b><br>
						{{end}}
						{{.Body}}<br>
					{{end}}
					-->
				</div> <!-- /force-columnar-align-->


			{{end}}	 <!-- end of block column -->

		{{end}}	 <!-- end of block -->
	</div>
	</span class='bl1-no-block-spaces' >


{{end}}	




	<p><a href='/'>Back to root</a></p>

</body>
</html>
{{end}}
